*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    align-items: center;
    background: #171717;
}
.container {
    padding: 50px;
    box-shadow: 0 0 30px rgba(212, 7, 7, 0.836);
    border-radius: 5px;
    width: 800px;
}
.container .logo {
    margin-bottom: 20px;
    text-align: center;
}
.container .logo img{
    width: 100px;
}
.container .logo .title{
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    opacity: 0.8;
    font-style: italic;

}
.container form {
    margin-top: 10px;
    display: flex;
    width: 100%;
    background: linear-gradient(45deg,#d30909b6, #be0a0acc);
    padding: 5px 15px;
    box-shadow: 0 0 3px rgba(196, 0, 0, 0.87);
}
.container form input{
    border: none;
    outline: none;
    background:transparent;
    width: 180%;
}

.container form button{
    padding: 5px;
    background: transparent;
    border: none;
    outline: none;


}
.container form button img{
    width: 50px;
}